.sidebar {
    width: 40px;
    height: 100vh;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(10px);
    align-items: center;
    gap: 20px;
    position: fixed;
    top: 0;
    left: -55px;
    overflow: hidden;
    transition: width 0.4s ease;
}

.sidebar:hover {
    width: 150px;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.menu-item {
    padding: 10px;
    cursor: pointer;
    transition: 0.2s;
}

.link-to-page {
    font-size: 30px;
    text-decoration: none !important;
    color: white !important;
}

