.board-collage {
    display: grid;
    width: 40vmin;
    height: 56vmin;
    grid-template-columns: repeat(3, 2fr);
    grid-template-rows: repeat(3, 2fr);
    overflow: hidden;
}

.board-collage .cell {
    position: relative;
}

.board-collage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.board-collage:has(.cell:nth-child(1)):not(:has(.cell:nth-child(2))) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.board-collage:has(.cell:nth-child(2)):not(:has(.cell:nth-child(3))) {
    grid-template-columns: 2fr;
    grid-template-rows: 2fr;
}

.board-collage:has(.cell:nth-child(3)):not(:has(.cell:nth-child(4))) {
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 2fr 1fr;
}

.board-collage .cell-0 {
    grid-column: span 2;
}
.more-overlay {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 0.5vmin 1vmin;
    color: white;
    background: rgba(0,0,0,0.6);
    border-top-left-radius: 8px;
    font-size: 2vmin;
}